Q4.Consider two excel files having attendance of a workshop’s participants for two days. Each file has three
fields ‘Name’, ‘Time of joining’, duration (in minutes) where names are unique within a file. Note that
duration may take one of three values (30, 40, 50) only. Import the data into two dataframes and do the
following:
a. Perform merging of the two dataframes to find the names of students who had attended the workshop on
both days.
b. Find names of all students who have attended workshop on either of the days.
c. Merge two data frames row-wise and find the total number of records in the data frame.
d. Merge two data frames and use two columns names and duration as multi-row indexes. Generate
descriptive statistics for this multi-index.

In [34]:
import pandas as pd
import numpy as np

# DataFrame for Day 1
df1_data = {
    'Name': ['Rohit', 'Aman', 'Yash', 'David', 'Shri'],
    'Time of Joining': np.random.choice(pd.date_range('2023-11-20 08:00:00', '2023-11-20 10:00:00')),
    'Duration': np.random.choice([30, 40, 50], 5)
}
df1_data = pd.DataFrame(df1_data)
df1_data

    Name     Time of Joining  Duration
0  Rohit 2023-11-20 08:00:00        50
1   Aman 2023-11-20 08:00:00        40
2   Yash 2023-11-20 08:00:00        40
3  David 2023-11-20 08:00:00        40
4   Shri 2023-11-20 08:00:00        40

In [36]:
# DataFrame for Day 2
df2_data = {
    'Name': ['Rohit', 'Aman', 'Yash', 'David', 'Sid'],
    'Time of Joining': np.random.choice(pd.date_range('2023-11-21 08:00:00', '2023-11-21 10:00:00')),
    'Duration': np.random.choice([30, 40, 50], 5)
}
df2_data = pd.DataFrame(df2_data)
df2_data

    Name     Time of Joining  Duration
0  Rohit 2023-11-21 08:00:00        50
1   Aman 2023-11-21 08:00:00        30
2   Yash 2023-11-21 08:00:00        40
3  David 2023-11-21 08:00:00        30
4    Sid 2023-11-21 08:00:00        30

In [39]:
# a. Perform merging of the two dataframes to find the names of students who had attended the workshop on both days.

both_days_attendees = pd.merge(df1_data , df2_data , on='Name', how='inner') # inner:inter of keys from both frames
print("Names of Students who Attended the Workshop on Both Days:\n", both_days_attendees['Name'])

Names of Students who Attended the Workshop on Both Days:
 0    Rohit
1     Aman
2     Yash
3    David
Name: Name, dtype: object

In [42]:
# b. Find names of all students who have attended workshop on either of the days.

either_day_attendees = pd.merge(df1_data , df2_data , on='Name', how='outer') # outer: use union of keys from both frames
print("Names of Students who Attended the Workshop on Either of the Days:\n", either_day_attendees['Name'])

Names of Students who Attended the Workshop on Either of the Days:
 0    Rohit
1     Aman
2     Yash
3    David
4     Shri
5      Sid
Name: Name, dtype: object

In [55]:
# c. Merge two data frames row-wise and find the total number of records in the data frame.

merged_row_wise = pd.concat([df1_data , df2_data ], ignore_index=True)
merged_row_wise

    Name     Time of Joining  Duration
0  Rohit 2023-11-20 08:00:00        50
1   Aman 2023-11-20 08:00:00        40
2   Yash 2023-11-20 08:00:00        40
3  David 2023-11-20 08:00:00        40
4   Shri 2023-11-20 08:00:00        40
5  Rohit 2023-11-21 08:00:00        50
6   Aman 2023-11-21 08:00:00        30
7   Yash 2023-11-21 08:00:00        40
8  David 2023-11-21 08:00:00        30
9    Sid 2023-11-21 08:00:00        30

In [50]:
print("Total Number of Records after Merging Row-Wise:", len(merged_row_wise))

Total Number of Records after Merging Row-Wise: 10

In [20]:
# d. Merge two data frames and use two columns names and duration as multi-row indexes. Generate descriptive statistics for this multi-index.

merged_multi_index = pd.merge(df1_data , df2_data , on=['Name', 'Duration'], how='outer')
statistics_multi_index = merged_multi_index.groupby(['Name', 'Duration']).describe()
print("\nDescriptive Statistics for Multi-Index (Names and Duration):\n", statistics_multi_index)

Descriptive Statistics for Multi-Index (Names and Duration):
                Time of Joining_x                                            \
                           count                 mean                  min
Name  Duration
Aman  40                       0                  NaT                  NaT
      50                       1  2023-11-20 08:45:00  2023-11-20 08:45:00
David 40                       0                  NaT                  NaT
      50                       1  2023-11-20 09:00:00  2023-11-20 09:00:00
Rohit 40                       1  2023-11-20 09:30:00  2023-11-20 09:30:00
      50                       0                  NaT                  NaT
Shri  50                       1  2023-11-20 09:30:00  2023-11-20 09:30:00
Sid   40                       0                  NaT                  NaT
Yash  30                       0                  NaT                  NaT
      50                       1  2023-11-20 09:45:00  2023-11-20 09:45:00

                                                                               \
                                25%                  50%                  75%
Name  Duration
Aman  40                        NaT                  NaT                  NaT
      50        2023-11-20 08:45:00  2023-11-20 08:45:00  2023-11-20 08:45:00
David 40                        NaT                  NaT                  NaT
      50        2023-11-20 09:00:00  2023-11-20 09:00:00  2023-11-20 09:00:00
Rohit 40        2023-11-20 09:30:00  2023-11-20 09:30:00  2023-11-20 09:30:00
      50                        NaT                  NaT                  NaT
Shri  50        2023-11-20 09:30:00  2023-11-20 09:30:00  2023-11-20 09:30:00
Sid   40                        NaT                  NaT                  NaT
Yash  30                        NaT                  NaT                  NaT
      50        2023-11-20 09:45:00  2023-11-20 09:45:00  2023-11-20 09:45:00

                                    Time of Joining_y                       \
                                max             count                 mean
Name  Duration
Aman  40                        NaT                 1  2023-11-21 09:00:00
      50        2023-11-20 08:45:00                 0                  NaT
David 40                        NaT                 1  2023-11-21 09:45:00
      50        2023-11-20 09:00:00                 0                  NaT
Rohit 40        2023-11-20 09:30:00                 0                  NaT
      50                        NaT                 1  2023-11-21 09:45:00
Shri  50        2023-11-20 09:30:00                 0                  NaT
Sid   40                        NaT                 1  2023-11-21 09:45:00
Yash  30                        NaT                 1  2023-11-21 08:45:00
      50        2023-11-20 09:45:00                 0                  NaT

                                                                               \
                                min                  25%                  50%
Name  Duration
Aman  40        2023-11-21 09:00:00  2023-11-21 09:00:00  2023-11-21 09:00:00
      50                        NaT                  NaT                  NaT
David 40        2023-11-21 09:45:00  2023-11-21 09:45:00  2023-11-21 09:45:00
      50                        NaT                  NaT                  NaT
Rohit 40                        NaT                  NaT                  NaT
      50        2023-11-21 09:45:00  2023-11-21 09:45:00  2023-11-21 09:45:00
Shri  50                        NaT                  NaT                  NaT
Sid   40        2023-11-21 09:45:00  2023-11-21 09:45:00  2023-11-21 09:45:00
Yash  30        2023-11-21 08:45:00  2023-11-21 08:45:00  2023-11-21 08:45:00
      50                        NaT                  NaT                  NaT


                                75%                  max
Name  Duration
Aman  40        2023-11-21 09:00:00  2023-11-21 09:00:00
      50                        NaT                  NaT
David 40        2023-11-21 09:45:00  2023-11-21 09:45:00
      50                        NaT                  NaT
Rohit 40                        NaT                  NaT
      50        2023-11-21 09:45:00  2023-11-21 09:45:00
Shri  50                        NaT                  NaT
Sid   40        2023-11-21 09:45:00  2023-11-21 09:45:00
Yash  30        2023-11-21 08:45:00  2023-11-21 08:45:00
      50                        NaT                  NaT